[Unit]
Description=Cockpit Web Service for Anaconda Installer
After=network.target

[Service]
Type=simple
EnvironmentFile=/tmp/webui-cockpit-ws.env
Environment="COCKPIT_SUPERUSER=pkexec"
ExecStart=/usr/libexec/anaconda/cockpit-coproc-wrapper.sh $WEBUI_ADDRESS
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
