:root.branding-bazzite {
  --brand-default-dark: oklch(40.1% 0.174 286.3deg);
  --brand-default: oklch(55.2% 0.174 286.3deg);

  .logo {
    background-image: url('../../static/branding/pixmaps/fedora-logo-sprite.svg');
  }
}
