:root.branding-fedora {
  --brand-default: oklch(68.48% 0.1147 241.35deg);
  --brand-default-dark: oklch(53.77% 0.1229 257.17deg);

  .logo {
    background-image: url('../../static/branding/pixmaps/fedora-logo-sprite.svg');
  }
}
