ul.storage-review-device-tree {
  list-style: none;
}

.storage-review-table {
  width: auto;

  // Remove the default border from the table header
  thead > tr:where(.pf-v6-c-table__tr):not(.pf-v6-c-table__expandable-row) {
    border-block-end: none;

    > th {
      padding: 0;
    }
  }
}

td.storage-review-table-column-action-destroy {
  color: var(--pf-v5-global--danger-color--100);
  font-weight: bold;
}

td.storage-review-table-column-action-resize {
  color: var(--pf-v5-global--warning-color--100);
  font-weight: bold;
}
