ul.storage-review-device-tree {
  list-style: none;
}

.storage-review-table {
  width: auto;

  // Remove the default border from the table header
  thead > tr:where(.pf-v5-c-table__tr):not(.pf-v5-c-table__expandable-row) {
    border-block-end: none;

    > th {
      padding: 0;
    }
  }
}
