[flake8]
# we want 118, but fix tests first
#max-line-length = 118
max-line-length = 149
# E402: module level import not at top of file; needs updating the tests to current cockpit standard
# W504: line break after binary operator
# E741: ambiguous variable name 'l'
ignore = E402, W504, E741
