[Desktop Entry]
Version=1.0
Name=Keyboard External
Exec=/usr/libexec/anaconda/gnome-control-center-ext keyboard
Terminal=false
Type=Application
MimeType=x-scheme-handler/anaconda-gnome-control-center;
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;
Actions=Region;
NoDisplay=true
X-Desktop-File-Install-Version=0.26

[Desktop Action Region]
Name=Region & Language
Exec=/usr/libexec/anaconda/gnome-control-center-ext keyboard
