#language-alert {
    margin-bottom: 1.25rem;
}

#installation-language-panel {
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

#installation-language-panel-header {
    padding-block-end: 0;
}

#installation-language-panel-body {
    padding-block-start: 0;
}

#installation-language-language-menu {
    margin-top: 1rem;
    margin-bottom: 2rem;
    flex-grow: 1;
    overflow: auto;
}

#language-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#item-translation {
    color: var(--pf-v5-global--disabled-color--100);
    font-style: italic;
}

#selected-icon{
    margin-left: 0.5rem;
    color: var(--pf-v5-global--active-color--100);
    font-size: 0.75rem;
}
