.installation-language-menu {
    max-width: 400px;
}

.installation-language-search {
    margin-bottom: var(--pf-v5-global--spacer--sm);
    max-width: 400px;
}

.installation-language-menu {
    border: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
}
