.anaconda-screen-selectors-container {
    max-width: 33rem;
}

.anaconda-screen-language-menu.pf-v5-c-menu.pf-m-scrollable {
    // heading: 84, footer: 44, content (about from header): 158, necessary padding underneath: 8px,
    // keyboardSelector: 60
    // 50px magic number
    --pf-v5-c-menu__content--MaxHeight: calc(100vh - 84px - 44px - 158px - 8px - 60px - 50px);
}

.anaconda-screen-language-search {
    margin-bottom: var(--pf-v5-global--spacer--sm);
}

.anaconda-screen-language-menu {
    border: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
}

/*
While this is something that needs to be fixed globally in an overrides,
we're only using the component here, so we have a local, namespaced fix,
to prevent surprises elsewhere. However, if we use the widget elsewhere,
it would also need this fix, so this is definitely a fix for PF
overrides, not a local fix.
*/
#anaconda-screen-language-language-menu {
  // Oddly, the spacing here isn't consistent with the reference on the website;
  // it should be balanced on the top and bottom, not all just on the top
  .pf-v5-c-menu__group-title {
    padding-block: var(--pf-v5-global--spacer--sm);

    // As the top is smaller, it needs a little more space between it and
    // the rest of the elements. The first one doesn't need this, however,
    // so we only apply it to all headings that aren't the first one
    .pf-v5-c-menu__group:not(:first-of-type) & {
      margin-block-start: var(--pf-v5-global--spacer--sm);
    }
  }
}
