.pf-v6-c-empty-state__content {
    width: 100%;
}

.anaconda-screen-progress-status {
    &-success .pf-v6-c-empty-state__icon {
        color: var(--pf-v5-global--success-color--100);
    }

    &-danger .pf-v6-c-empty-state__icon {
        color: var(--pf-v5-global--danger-color--100);
    }

    gap: max(8rem, 5vw) !important;
}
