// Limit the width of input fields
#anaconda-screen-accounts {
  width: min(60ch, 100%);
}

// FIXME: Undo when fixed upstream: https://github.com/patternfly/patternfly/issues/6032
#anaconda-screen-accounts .pf-v6-c-form__group-label.pf-m-info {
  flex-direction: column;
  align-items: flex-start;
}

// No not wrap labels - the required icon should be on the same line
#anaconda-screen-accounts .pf-v6-c-form__label {
  display: inline-flex;
  flex-wrap: nowrap;
  gap: var(--pf-t--global--spacer--xs);
}

#anaconda-screen-accounts-create-account-user-name-input-group {
  width: min(39ch, 100%);
}
