// Limit the width of input fields
#anaconda-screen-accounts {
  width: min(60ch, 100%);
}

// FIXME: Undo when fixed upstream: https://github.com/patternfly/patternfly/issues/6032
#anaconda-screen-accounts .pf-v6-c-form__group-label.pf-m-info {
  flex-direction: column;
  align-items: flex-start;
}

#anaconda-screen-accounts-create-account-user-name-input-group {
  width: min(39ch, 100%);
}
