.cockpit-storage-integration-check-storage-dialog {
  .pf-v6-c-modal__body {
    display: flex;
    flex-direction: column;
    gap: var(--pf-t--global--spacer--md);
  }

  .pf-v6-c-table {
    margin-block-end: var(--pf-t--global--spacer--md);
  }

  .pf-v6-c-table + .pf-v6-c-alert,
  .pf-v6-c-table + .pf-v6-c-stack {
    margin-block-start: var(--pf-t--global--spacer--md);
  }

  .pf-v6-c-alert + .pf-v6-c-alert {
    margin-block-start: var(--pf-t--global--spacer--md);
  }

  .pf-v6-c-stack {
    --pf-v6-c-stack--gap: var(--pf-t--global--spacer--md);
  }
}
