.anaconda-screen-date-time__indent {
  margin-inline-start: 32px;
}

.anaconda-screen-date-time__timezone-label {
  color: var(--pf-v6-global--Color--200);
  margin-inline-start: var(--pf-v6-global--spacer--lg);
}

.anaconda-screen-date-time__select-list--scrollable {
  max-height: 240px;
  overflow-y: auto;
}
