.logo {
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}


/* Override the top header to have a Fedora blue */
.pf-v6-c-page__main-group > .pf-v6-c-page__main-section:first-child {
  --_text: white;

  .pf-v6-c-content {
    --pf-v6-c-content--Color: var(--_text);
  }

  /* Have the kebab toggle inherit the text color, for better color contrast */
  #toggle-kebab {
    path {
      fill: var(--_text);
    }

    &:hover path {
      fill: color-mix(in lch, var(--_text) 75%, transparent);
    }
  }

  /* Fedora doesn't ship the on-dark version of the SVG, but we can fake it */
  .logo {
    filter: invert(1) grayscale(1) brightness(2.5);
    mix-blend-mode: screen;
  }
}

/* Special-case some light-mode optimizations */
:root.branding-fedora:not(.pf-v6-theme-dark) {
  .pf-v6-c-wizard__nav-link.pf-m-current::before {
    --pf-v6-c-wizard__nav-link--m-current--before--BackgroundColor: var(--pf-t--global--color--brand--default);
  }
}
