@import "page";

// FIXME: Make this automatically distro-specific
@import "../branding/fedora";

// Copied from cockpit/pkg/lib/page.scss instead of including it in its entirety:
// Let PF4 handle the scrolling through page component otherwise we might get double scrollbar
html:not(.index-page) body {
  overflow-y: hidden;

  // Ensure UI fills the entire page (and does not run over)
  .ct-page-fill {
    height: 100% !important;
  }
}

// Remove the default margin and radius from the main container
#app .pf-v6-c-page__main-container {
  // PatternFly sets the main container to 100% minus spacer-lg;
  // this is incorrect, especially as Anaconda uses the wizard to the full page
  --pf-v6-c-page__main-container--MaxHeight: 100%;
  margin: 0;
  border-radius: 0;
  border: none;
}

// Center align the EmptyState page
.installation-page--loading {
  justify-content: center;
}

#installation-wizard .pf-v6-c-wizard__main {
  display: flex;
}

#installation-wizard .pf-v6-c-wizard__main-body {
  flex: 1 1 auto;
}

// Nested tables showing partitions in the local standards disks table should not fill space in larger screens
@media (min-width: var(--pf-t--global--breakpoint--lg)) {
  .ct-table .pf-v6-c-table__expandable-row-content {
    display: flex;
  }

  .ct-table .ct-table {
    flex: 75% 0 0;
  }
}

// Nested tables showing partitions in the local standards disks table don't need borders for last row
.ct-table .ct-table tr:last-child {
  border: none;
}

// Nested tables showing partitions in the local standards disks table don't need extra padding
.ct-table .pf-v6-c-table__expandable-row-content {
  padding: 0;
}

// FIXME: Remove when fixed: https://github.com/patternfly/patternfly/issues/7440
.pf-v6-c-modal-box { min-width: min-content; }
