#critical-error-bz-report-modal-review-log,
#user-issue-bz-report-modal-review-log {
  font-family: var(--pf-t--global--font--family--mono);
  font-size: var(--pf-t--global--font--size--body--sm);
}

#critical-error-bz-report-modal-details {
  font-family: var(--pf-t--global--font--family--mono);
}

h4.critical-error-bz-report-modal-intructions-header.pf-v6-c-content--h4 {
  margin-block-start: unset;
  margin-block-end: unset;
}

.bug-report-code-block {
  font-family: var(--pf-t--global--font--family--mono);
  font-size: var(--pf-t--global--font--size--body--sm);
}

.bug-report-code-block-scrollable {
  max-height: 400px;
  overflow: auto;
}
