#critical-error-bz-report-modal-review-log,
#user-issue-bz-report-modal-review-log {
  font-family: var(--pf-t--global--font--family--mono);
  font-size: var(--pf-t--global--font--size--body--sm);
}

#critical-error-bz-report-modal-details {
  font-family: var(--pf-t--global--font--family--mono);
}
