@import "global-variables";

/* Network configuration modal - full screen height */
.cockpit-network-configuration-modal-page-section {
  width: 100%;
  height: 100%;
}

.cockpit-network-configuration-page-section-cockpit-network,
.cockpit-network-configuration-iframe-cockpit-network {
  width: 100%;
  height: 100%;
}

.cockpit-network-configuration-iframe-cockpit-network {
  border-radius: var(--pf-t--global--border--radius--medium);
  border: var(--pf-t--global--border--width--box--default) solid var(--pf-t--global--border--color--default);
  background-clip: content-box; /* Fix weird anti-aliasing */
}
