@use "global-variables" as *;

.anaconda-screen-software-selection-form-group {
    flex: 1;
    max-width: 33rem;
    min-width: 20rem;

    @media screen and (min-height: #{$pf-v6-global--height-breakpoint--md}) {
      .pf-v6-c-menu.pf-m-scrollable {
        --pf-v6-c-menu__content--MaxHeight: calc(#{$pf-v6-global--height-breakpoint--md} - 20rem);
      }
    }

    @media screen and (min-height: #{$pf-v6-global--height-breakpoint--lg}) {
      .pf-v6-c-menu.pf-m-scrollable {
        --pf-v6-c-menu__content--MaxHeight: calc(#{$pf-v6-global--height-breakpoint--lg} - 20rem);
      }
    }

    @media screen and (min-height: #{$pf-v6-global--height-breakpoint--xl}) {
      .pf-v6-c-menu.pf-m-scrollable {
        --pf-v6-c-menu__content--MaxHeight: calc(#{$pf-v6-global--height-breakpoint--xl} - 20rem);
      }
    }

    @media screen and (min-height: $pf-v6-global--height-breakpoint--2xl) {
      .pf-v6-c-menu.pf-m-scrollable {
        --pf-v6-c-menu__content--MaxHeight: calc(#{$pf-v6-global--height-breakpoint--2xl} - 20rem);
      }
    }
}
