@import "global-variables";
@import "@patternfly/patternfly/components/Backdrop/backdrop";

.cockpit-storage-integration-modal-page-section {
    width: 100%;
    height: 100%;
}

.cockpit-storage-integration-page-section-cockpit-storage,
.cockpit-storage-integration-iframe-cockpit-storage {
    width: 100%;
}

.cockpit-storage-integration-page-section-storage-alert {
    padding-bottom: 0;
}

.cockpit-storage-integration-iframe-cockpit-storage {
    height: 100%;
}

.cockpit-storage-integration-page-section-cockpit-storage {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.cockpit-storage-integration-sidebar {
    padding-left: 0;
}

.cockpit-storage-integration-page-section-cockpit-storage {
    flex: 1;
}

.cockpit-storage-integration-page-section-storage-footer.pf-m-sticky-bottom {
    flex: none;
}

.cockpit-storage-integration-requirements-hint,
ul.cockpit-storage-integration-requirements-hint-list {
    font-size: smaller;
}

.cockpit-storage-integration-requirements-hint-detail {
    font-size: small;
}

// Hide the [x] button in the loading mode
.cockpit-storage-integration-check-storage-dialog--loading .pf-v6-c-modal-box__close {
    display: none;
}

// Make Spinner smaller - default EmptyStatePanel svg size is too big
.cockpit-storage-integration-check-storage-dialog--loading svg.pf-v6-c-spinner {
    --pf-v5-c-spinner--diameter: var(--pf-v5-c-spinner--m-lg--diameter);
}

.cockpit-storage-integration-check-storage-dialog {
    .pf-v6-c-helper-text__item-text {
        color: unset;
    }
}

// Simulate Backdrop behavior for modals in the iframe
%iframe-zindex {
  position: relative;
  z-index: 10;
}

iframe {
  @extend %iframe-zindex;
}

// Simulate a PF background scrim
.cockpit-has-modal {
  @extend %iframe-zindex;

  &::after {
    @extend .pf-v6-c-backdrop;
    --pf-v5-c-backdrop--Position: absolute;
    content: "";
    z-index: 9;
  }
}
