.cockpit-storage-integration-page-section-cockpit-storage,
.cockpit-storage-integration-iframe-cockpit-storage {
    width: 100%;
}

.cockpit-storage-integration-iframe-cockpit-storage {
    height: 100%;
}

.cockpit-storage-integration-page-section-cockpit-storage {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.cockpit-storage-integration-sidebar {
    padding-left: 0;
}

.cockpit-storage-integration-page-section-cockpit-storage {
    flex: 1;
}

.cockpit-storage-integration-page-section-storage-footer.pf-m-sticky-bottom {
    flex: none;
}

.cockpit-storage-integration-requirements-hint,
ul.cockpit-storage-integration-requirements-hint-list {
    font-size: smaller;
}

.cockpit-storage-integration-requirements-hint-detail {
    font-size: small;
}
