.anaconda-screen-method-scenario {
  .pf-v6-c-radio__body {
    margin-top: 0;
    font-size: var(--pf-t--global--font--size--sm);

    .anaconda-screen-method-scenario-disabled-reason {
      margin-inline-end: var(--pf-t--global--spacer--xs);
    }

    .anaconda-screen-method-scenario-review {
        color: var(--pf-v6-c-radio__description--Color);
    }
  }
}

// Increase the standard radio button spacing
.anaconda-screen-method-scenario-group .pf-v6-c-form__group-control {
  gap: var(--pf-t--global--spacer--md);
}
