.anaconda-screen-method-selector {
  .anaconda-screen-method-disk-selector {
    width: 50%;
  }

  .pf-v6-c-form__section-title {
    font-size: var(--pf-v5-global--FontSize--md);
  }
}

.anaconda-screen-method-target-disk-size,
.anaconda-screen-method-target-disk-existing-os {
  color: var(--pf-v5-global--Color--200);
  font-size: var(--pf-v5-global--FontSize--sm);
}

// Add some border to the disk selection menu
.anaconda-screen-method-disk-selection-stack {
  border: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);

  .anaconda-screen-method-disk-selection-rescan {
    margin-top: var(--pf-v5-global--spacer--md);
    margin-bottom: var(--pf-v5-global--spacer--md);
    align-self: center;
  }

  .pf-v6-c-empty-state__body {
    margin-block-start: 0;
  }
}
