.anaconda-screen-method-scenario {
  .pf-v5-c-radio__body {
    margin-top: 0;
    font-size: var(--pf-v5-global--FontSize--sm);

    .anaconda-screen-method-scenario-disabled-reason {
      font-weight: var(--pf-v5-global--FontWeight--bold);
      margin-inline-end: var(--pf-v5-global--spacer--xs);
    }

    .anaconda-screen-method-scenario-review {
        color: var(--pf-v5-c-radio__description--Color);
    }
  }
}

// Increase the standard radio button spacing
.anaconda-screen-method-scenario-group .pf-v5-c-form__group-control {
  gap: var(--pf-v5-global--spacer--md);
}
