@import "global-variables";

#reclaim-space-modal-table {
  tr.reclaim-space-modal-table-row.reclaim-space-modal-device-level-1,
  tr.reclaim-space-modal-table-row.reclaim-space-modal-device-level-2,
  tr.reclaim-space-modal-table-row.reclaim-space-modal-device-level-3 {
    td {
      padding-block: var(--pf-v5-global--spacer--sm);
    }
  }

  tr.reclaim-space-modal-table-row {
    border-block-end: none;
  }

  tr.reclaim-space-modal-table-row.reclaim-space-modal-device-level-0 {
    border-block-start: var(--pf-v5-c-table--border-width--base) solid var(--pf-v5-c-table--BorderColor);
  }

  .reclaim-space-modal-device-action-delete {
    font-size: var(--pf-v5-global--FontSize--sm);
    color: var(--pf-v5-global--danger-color--100);
  }

  .reclaim-space-modal-device-action-shrink {
    font-size: var(--pf-v5-global--FontSize--sm);
    color: var(--pf-v5-global--warning-color--100);
  }

  .pf-v5-c-table__td {
    padding-block: var(--pf-v5-global--spacer--sm);
    align-items: center;
  }

  .reclaim-actions {
    // Actions should not have a gap
    gap: 0;
    // Actions should "eat into" TD padding so they're aligned appropriately
    margin: calc(-1 * var(--pf-v5-global--spacer--xs)) calc(-1 * var(--pf-v5-global--spacer--sm));

    // Fix the button size of actions
    .pf-v5-c-button {
      padding: var(--pf-v5-global--spacer--xs) var(--pf-v5-global--spacer--sm);
    }
  }

  // Bind indent level variable to classes (start indenting on level 2)
  @for $i from 1 through 10 {
    .reclaim-space-modal-device-level-#{$i} {
      --indent: #{$i - 1};
    }
  }

  // Small sizes
  @media (width < $pf-v5-global--breakpoint--md) {
    // Indent the left for smaller sizes
    .reclaim-space-modal-table-row:not(.reclaim-space-modal-device-level-0) {
      margin-inline-start: calc(
        var(--indent) * var(--pf-v5-global--spacer--sm)
      );
    }

    // Remove labels with no content on small sizes
    td:empty {
      display: none;
    }

    tr {
      grid-template-columns: auto 1fr;
    }

    td {
      grid-template-columns: subgrid;
      grid-column: 1 / -1;
    }
  }

  // Large sizes
  @media (width >= $pf-v5-global--breakpoint--md) {
    // Indent the left for larger sizes
    .reclaim-space-modal-table-row:not(.reclaim-space-modal-device-level-0) td:nth-child(2) {
      padding-inline-start: calc(var(--pf-v5-c-table--cell--PaddingLeft) + var(--indent) * var(--pf-v5-global--spacer--md));
    }

    // Align columns to the right on larger screens
    :is(th, td):nth-last-of-type(-n + 2) {
      text-align: end;
    }

    // Also align the actions group to the right
    .reclaim-actions {
      justify-content: end;
    }

    // Set the disk icon size
    td:first-of-type {
      --icon-size: 1.5em;
    }

    // Adjust the disk size and make it align properly
    .reclaim-space-modal-device-level-0 {
      td:first-of-type .pf-v5-svg {
        height: auto;
        width: var(--icon-size);
        margin-inline-end: var(--pf-v5-global--spacer--sm);
        vertical-align: middle;
      }
    }

    // Align non-icon text with the text that has an icon
    .reclaim-space-modal-table-row:not(.reclaim-space-modal-device-level-0) {
      td:first-of-type {
        padding-left: calc(var(--icon-size) + var(--pf-v5-global--spacer--sm) + var(--pf-v5-c-table--cell--PaddingLeft));
      }
    }

  }
}

// Make scrolling happen in the list instead of the dialog
#reclaim-space-modal .pf-v5-c-modal-box__body {
  // Stretch to fill the remaining area with content
  display: flex;
  flex-direction: column;

  // Don't overflow here; overflow below
  > .pf-v5-l-stack {
    overflow: hidden;
  }

  .pf-v5-c-panel {
    // Make the panel scroll (not the stack)
    overflow: auto;
    // Replace the border below with an actual border for the panel
    border: var(--pf-v5-c-panel--before--BorderWidth) solid var(--pf-v5-c-panel--before--BorderColor);

    // Hide the original border (as it doesn't work properly)
    &::before {
      display: none;
    }
  }

  // Make the heading sticky
  .pf-v5-c-table__thead {
    // It needs to have background so when it overlaps, it's covering things up
    background: var(--pf-v5-c-table--BackgroundColor);
    // Re-add the outline
    outline: 1px solid var(--pf-v5-c-table--BorderColor);
    position: sticky;
    top: 0;
    // It should have z-index; since it's relative to the stacking overder,
    // 1 is enough to be above
    z-index: 1;
  }
}

.pf-v5-c-popover {
  // Increase the min-width of the slider
  .reclaim-space-modal-shrink-slider {
    min-width: 30rem;
  }

  // Increase the min-width of the input field of the slider
  .pf-v5-c-slider__value .pf-v5-c-form-control {
    min-width: 5rem;
  }

  // Hide the slider boundaries
  .pf-v5-c-slider__step-label {
    display: none;
  }
}

// Emphasize the hint text by making it black instead of grey
#reclaim-space-modal-hint {
  .pf-v5-c-helper-text__item-text {
    color: var(--pf-v5-global--Color--100);
  }
}

.extended-partition-type {
  color: var(--pf-v5-global--disabled-color--100);
  font-style: italic;
}
