#reclaim-space-modal-table {
  tr.reclaim-space-modal-table-row.reclaim-space-modal-device-level-1,
  tr.reclaim-space-modal-table-row.reclaim-space-modal-device-level-2,
  tr.reclaim-space-modal-table-row.reclaim-space-modal-device-level-3 {
    td {
      padding-top: var(--pf-v5-global--spacer--sm);
      padding-bottom: var(--pf-v5-global--spacer--sm);
    }
  }

  tr.reclaim-space-modal-table-row.reclaim-space-modal-device-level-1 {
    td:first-child {
      padding-inline-start: var(--pf-v5-global--spacer--xl);
    }
  }

  tr.reclaim-space-modal-table-row.reclaim-space-modal-device-level-2 {
    td:first-child {
      padding-inline-start: var(--pf-v5-global--spacer--2xl);
    }
  }

  tr.reclaim-space-modal-table-row.reclaim-space-modal-device-level-3 {
    td:first-child {
      padding-inline-start: var(--pf-v5-global--spacer--3xl);
    }
  }

  tr.reclaim-space-modal-table-row {
    border-block-end: none;
  }

  tr.reclaim-space-modal-table-row.reclaim-space-modal-device-level-0 {
    border-block-start:  var(--pf-v5-c-table--border-width--base) solid var(--pf-v5-c-table--BorderColor);
  }

  .reclaim-space-modal-device-action-delete {
    color: var(--pf-v5-global--danger-color--100);
  }
}
