#reclaim-space-modal-table {
  tr.reclaim-space-modal-table-row.reclaim-space-modal-device-level-1,
  tr.reclaim-space-modal-table-row.reclaim-space-modal-device-level-2,
  tr.reclaim-space-modal-table-row.reclaim-space-modal-device-level-3 {
    td {
      padding-top: var(--pf-v5-global--spacer--sm);
      padding-bottom: var(--pf-v5-global--spacer--sm);
    }
  }

  @for $i from 1 through 10 {
    tr.reclaim-space-modal-table-row.reclaim-space-modal-device-level-#{$i} {
      td:nth-child(2) {
        padding-inline-start: calc(var(--pf-v5-c-table--cell--PaddingLeft) + #{$i - 1} * var(--pf-v5-global--spacer--md));
      }
    }
  }

  tr.reclaim-space-modal-table-row {
    border-block-end: none;
  }

  tr.reclaim-space-modal-table-row.reclaim-space-modal-device-level-0 {
    border-block-start:  var(--pf-v5-c-table--border-width--base) solid var(--pf-v5-c-table--BorderColor);
  }

  .reclaim-space-modal-device-action-delete {
    font-size: var(--pf-v5-global--FontSize--sm);
    color: var(--pf-v5-global--danger-color--100);
  }

  .reclaim-space-modal-device-action-shrink {
    font-size: var(--pf-v5-global--FontSize--sm);
    color: var(--pf-v5-global--warning-color--100);
  }
}

.pf-v5-c-popover {
  // Increase the min-width of the slider
  .reclaim-space-modal-shrink-slider {
    min-width: 30rem;
  }

  // Increase the min-width of the input field of the slider
  .pf-v5-c-slider__value .pf-v5-c-form-control {
    min-width: 5rem;
  }

  // Hide the slider boundaries
  .pf-v5-c-slider__step-label {
    display: none;
  }
}
